# --- Dépendances locales ---
node_modules/
npm-debug.log
yarn-error.log
package-lock.json
pnpm-lock.yaml

# --- Build local (sera refait dans Docker) ---
.next/
out/
dist/

# --- Fichiers d'environnement ---
.env
.env.*
.env.local

# --- Fichiers système / IDE ---
.DS_Store
.vscode/
.idea/

# --- Logs ---
*.log
